@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --border: 0 0% 80%;
    --primary: 345 100% 47%;
    --primary-foreground: 210 40% 98%;
  }
}